$blue-light: #00ffe6;
$blue-dark: #003da2;
$pink-light: #ff8eff;
$pink-text: #ffc7ff;
$pink-dark: #831672;
$pink-hot: #ff0580;
$green-light: #00fa7f;
$green-mid: #008932;
$green-dark: #00530d;
$white: #ffffff;
$btn-color: #ffc7ff;
$font-black: color(srgb 0 0 0 / 0.99);