@use './functions' as *;
@use './variables' as *;


@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin radiusEffect($pix: 65px) {
    border-bottom-left-radius: remCalc($pix);
    border-top-left-radius: remCalc($pix);
    border-bottom-right-radius: remCalc($pix);
}

@mixin people_card($img_color, $back_color: white) {
    .people__card--back {
        background-color: $back_color;
        color: $img_color;
        text-align: left;
        scrollbar-color: $img_color transparent;
        scrollbar-width: thin;
    }

    .people__card--image {
        background-color: $img_color;
        object-fit: contain;
        width: 100%;
        display: block;
    }
}

@mixin respond($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
