@use './abstracts/functions' as *;
@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;
@use './abstracts/colors' as *;

@use './layout/header' as *;
@use './layout/footer' as *;
@use './layout/navigation' as *;

@use './components/buttons' as *;
@use './components/cards' as *;

@use './base/reset';

.wrapper {
    height: fit-content;
    background-color: #eeeeee;
}

header {
    width: 100vw;
    height: 0;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    width: remCalc(280.44px);
    height: remCalc(136.7px);
    padding: remCalc(22.2725px) remCalc(18.8277px);
    background-color: $pink-dark;
    border-bottom-right-radius: remCalc(57.3677px);
    font-family: $font-primary;
    color: $blue-light;
    font-size: 3.3rem;
    font-weight: 700;

    @include center;
}

.hero {
    @include center;
    gap: remCalc(7px);
    padding: remCalc(10px);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.hero__heading {
    font-family: $font-secondary;
    font-weight: 800;
    letter-spacing: -0.05rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 3rem 3rem;
    width: remCalc(472.48px);

    >span {
        display: block;
        text-transform: uppercase;
        line-height: 1;
        z-index: 10000;
        color: white;
    }

    &--1 {
        font-size: clamp(3rem, 6vw, 4.2rem);
    }

    &--2 {
        font-size: clamp(4rem, 8vw, 6.6rem);
    }

    &--3 {
        font-size: clamp(3.8rem, 7vw, 6.2rem);
    }
}


.hero-video__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-bottom-left-radius: remCalc(67.1854px);
    border-bottom-right-radius: remCalc(67.1854px);
    overflow: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero--left {
    flex: 1;
    height: 100%;
    @include center;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $pink-dark;
    height: remCalc(57.36px);
    width: remCalc(57.36px);
    border-bottom-left-radius: remCalc(23.1002px);
    @include center;
}

.hero--right {
    @include center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: remCalc(5px);
}

.card {
    margin: .1rem;
    height: remCalc(188.77px);
    width: remCalc(188.77px);
    border-bottom-left-radius: remCalc(60px);
    border-top-left-radius: remCalc(60px);
    border-bottom-right-radius: remCalc(60px);
    position: relative;

    &:hover {
        @include radiusEffect;
    }

    >.arrow>svg {
        width: remCalc(40px);
        height: remCalc(40px);
        position: absolute;
        top: remCalc(18px);
        right: remCalc(18px);
    }
}

.card--blue {
    background-color: $blue-light;

    >.card-text {
        color: $blue-dark;
    }

    >.arrow>svg {
        color: $blue-dark;
    }

    >.arrow-text {
        color: $blue-dark;
    }
}

.card--pink {
    background-color: $pink-light;

    >.card-text {
        color: $pink-dark;
    }

    >.arrow>svg {
        color: $pink-dark;
    }

    >.arrow-text {
        color: $pink-dark;
    }
}

.card--green {
    background-color: $green-light;

    >.card-text {
        color: $green-dark;
    }

    >.arrow>svg {
        color: $green-dark;
    }

    >.arrow-text {
        color: $green-dark;
    }
}

.card-text {
    height: 100%;
    width: 80%;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: remCalc(32px);
    letter-spacing: remCalc(-0.368px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

.text-section {
    min-height: 100vh;
    width: 100%;
    padding: remCalc(93.416px) remCalc(32px);
    background-color: white;

    &>&__inner {
        background-color: $pink-light;
        height: 100%;
        width: 100%;
        padding: remCalc(81.834px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: remCalc(45px);
        border-bottom-left-radius: remCalc(81.8362px);
        border-bottom-right-radius: remCalc(81.8362px);
        border-top-right-radius: remCalc(81.8362px);


        &>h2 {
            color: $pink-dark;
            font-family: $font-secondary;
            font-weight: 800;
            font-size: remCalc(18.4px);
            text-transform: uppercase;
        }

        &>p {
            color: $font-black;
            font-family: $font-primary;
            font-weight: 500;
            font-size: remCalc(44.8px);
            line-height: 1.1;
            letter-spacing: remCalc(-1.2px);
        }
    }
}

.highlighter {
    background-color: $pink-dark;
    color: $blue-light;
    padding: 0 4px;
    font-weight: 550;
    display: inline-block;
}

.highlighter--up {
    transform: rotate(-1.2deg);

}

.highlighter--down {
    transform: rotate(1.2deg);
}

// page 3

.card-trio {
    height: 100vh;
    width: 100%;
    gap: remCalc(5px);
    padding: 0 remCalc(16px);
    border-bottom-left-radius: remCalc(130px);
    border-bottom-right-radius: remCalc(130px);
    background-color: white;

    &>&__heading>h2 {
        font-family: $font-secondary;
        font-weight: 800;
        font-size: remCalc(86.13px);
        color: $pink-dark;
        @include center;
    }

    &>&__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: remCalc(20px);
        padding-top: remCalc(60px);

        &>.card {
            height: remCalc(400px);
            width: remCalc(400px);
            position: relative;
            @include radiusEffect(90px);
            // padding: 0 remCalc(10px);

            &:hover {
                transition: ease 0.2s;
                @include radiusEffect(130px);
            }

            .card-text {
                font-family: $font-secondary;
                font-weight: 800;
                font-size: remCalc(32px);
                letter-spacing: remCalc(-0.368px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 10px;

                p {
                    font-family: $font-secondary;
                    font-weight: 700;
                    font-size: remCalc(70px);
                    line-height: 1.1;
                    letter-spacing: remCalc(-1.2px);
                }
            }

            >.arrow {
                position: absolute;
                top: 0;
                right: 0;
            }

            >.arrow>p {
                transform: rotate(90deg);
                font-family: $font-secondary;
                font-weight: 800;
                font-size: remCalc(32px);
                letter-spacing: remCalc(-0.368px);
            }

            >.arrow>svg {
                width: remCalc(90px);
                height: remCalc(90px);
                position: absolute;
                top: remCalc(5px);
                right: remCalc(5px);
            }
        }
    }

}

.arrow-text {
    font-family: $font-secondary;
    font-weight: 800;
    font-size: remCalc(32px);
    letter-spacing: remCalc(-0.368px);
    position: absolute;
    top: remCalc(128px);
    right: remCalc(-10px);
    transform: rotate(270deg);
}

// page 4


.people-section {
    padding: 0 1rem;
    padding-bottom: 1rem;
    background-color: white;

    &>&--heading {
        padding: remCalc(45px);

        &>h2 {
            font-family: $font-secondary;
            font-weight: 800;
            font-size: remCalc(51.13px);
            color: $pink-dark;
            @include center;
            letter-spacing: remCalc(-2.04636px);
            line-height: remCalc(56.275px);
            text-wrap-mode: wrap;

        }
    }

    // done with help :)
    // Flip Card Styles
    // 3D Cube Rotation Styles
    .people__card {
        background-color: transparent;
        perspective: 1000px;
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1; 
        z-index: 1;
        position: relative;
    }

    // Wrapper (Rotates)
    .people__card--inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 600ms cubic-bezier(.77, 0, .175, 1);
        transform-style: preserve-3d;
        transform: translateZ(calc($depth * -1)); // Initial position
    }

    // Hover Effect
    .people__card:hover .people__card--inner {
        transform: translateZ(calc($depth * -1)) rotateY(-90deg);
    }

    // Front (Image)
    .people__card--front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bbb;
        transform: translateZ($depth); // Push forward
    }

    // Back/Side (Bio)
    .people__card--back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: auto;
        text-align: left;
        padding: remCalc(22px);
        
        // Rotate 90deg and push forward
        transform: rotateY(90deg) translateZ($depth);
        z-index: 2;

        h3 {
            font-family: $font-secondary;
            font-size: remCalc(30.5387px);
            font-weight: 600;
            letter-spacing: remCalc(-0.610773px);
            line-height: remCalc(41.2272px);
            text-transform: uppercase;
            width: 100%;
        }

        p {
            font-family: $font-primary;
            font-size: remCalc(18.4px);
            font-weight: 550;
            display: block;
            letter-spacing: remCalc(-0.368px);
            line-height: remCalc(27.6px);
            text-size-adjust: 100%;
            overflow-y: auto;
        }
    }

    >.people__container {
        // height: 100%;
        display: grid;
        overflow-y: hidden;
        grid-template-columns: repeat(4, 1fr);

        >.people__card--1 {
            @include people_card($pink-dark, #ff8eff);
        }

        >.people__card--2 {
            @include people_card($green-dark, #00fa7f);
        }

        >.people__card--3 {
            @include people_card($pink-hot, #fcdc4d);
        }

        >.people__card--4 {
            @include people_card($blue-dark, #00ffe6);
        }

        >.people__card--5 {
            @include people_card($pink_hot, #fcdc4d);
        }

        >.people__card--6 {
            @include people_card($blue-dark, #00ffe6);
        }

        >.people__card--7 {
            @include people_card($pink-dark, #ff8eff);
        }

        >.people__card--8 {
            @include people_card($green-dark, #00fa7f);
        }
    }

}


// page 5

.how-we-work{
    background-color: $pink-dark;
    width: 100%;
    padding-top: remCalc(161.8362px);
    position: relative;

    >.text-wrapper {
        // display: flex;
        // flex-direction: column;
        gap: remCalc(100px);
        >h2 {
            color:$blue-light;
            font-size: remCalc(112.674px);
            display: block;
            position: relative;
            font-family: $font-secondary;
            font-weight: 800;
            letter-spacing: remCalc(-4.50696px);
            line-height: remCalc(123.971px);
            width: 100%;
            padding-left: 2rem;
        }
    
        >.content {
            width: 100%;
            padding: 2rem;
            >p {
                width: 85%;
                color: $pink-text;
                font-family: $font-primary;
                font-size: remCalc(30.5387px);
                font-weight: 500;
                letter-spacing: remCalc(-0.610773px);
                line-height: remCalc(41.2272px);
            }
            >a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: remCalc(160px);
                padding: remCalc(16px) remCalc(32px);
                
                background-color: $pink-text; // #ffc7ff
                color: $pink-dark; // #831672
                border: 1px solid transparent;
                
                cursor: pointer;
                text-decoration: none;
                transition: transform .2s, border-color .2s, color .2s, background-color .2s;

                p {
                    font-family: $font-secondary;
                    font-size: remCalc(20px); 
                    font-weight: 700;
                    margin: 0;
                    line-height: 1.2;
                    letter-spacing: -0.02em;
                }

                svg {
                    width: remCalc(50px);
                    height: remCalc(50px);
                    
                    path {
                        fill: currentColor;
                    }
                }
            }
        }
    }
}

.rounded-boxes {
    background-color: inherit;
}
.rounded-box {
    background-color: $pink-dark;
    border-bottom: 0;
    position: relative;
    padding: 2rem;
    height: remCalc(250px);
    border: 2px solid $blue-light;
    border-bottom: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
    >h3 {
        position: absolute;
        top:70;
        left:70;
        color: $blue-light;
        font-size: remCalc(66px);
        font-weight: 900;
        font-family: $font-primary;
        letter-spacing: remCalc(-2.6572px);
    }

    >p {
        font-family: $font-primary;
        font-size: remCalc(30px);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.02em;
        display: block;
        width: 55%;
        position: absolute;
        bottom: 30px;
        right: 80px;
        color: $pink-text;
    }
}

.pic-section {
    width: 100%;
    padding: 1rem;
    position: relative;
    
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    figcaption {
        background-color: $pink-dark;
        color: $pink-light;
        font-family: $font-primary;
        font-size: remCalc(20px);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.02em;
        padding: 1rem;
        display: inline-block;
        position: absolute;
        bottom: 1.23rem;
        right: 1rem;
        z-index: 100;
        border-top-left-radius: 25px;
    }
}

.our-work {
    background-color: white;
    padding-top: remCalc(161.8362px);
    padding-bottom: remCalc(61.8362px);
    @include center;
    flex-direction: column;
    >h2 {
    width: 100%;
    padding: remCalc(45px);
    font-family: $font-secondary;
    font-size: remCalc(112.674px);
    font-weight: 900;
    letter-spacing: remCalc(-4.50696px);
    color: $pink-dark;
    text-align: center;
    }
    >.space {
        padding: remCalc(57.3677px);
        width: 100vw;
    }
    >.feature-card {
        background-color: $green-light;
        color: $green-dark;
        width: 85%;
        border-top-right-radius: remCalc(40px);
        border-bottom-left-radius: remCalc(40px);
        height: remCalc(401px);
        @include center;
        gap:6%;
        padding: .5rem;
        position: relative;

        &:hover {
            border-top-right-radius: remCalc(55px);
        border-bottom-left-radius: remCalc(55px);
        }

        >.feature-card__image {
            width: 47%;
            height: 100%;
            img {
                border-top-right-radius: remCalc(35px);
                border-bottom-left-radius: remCalc(35px);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        >.feature-card__content {
            width: 47%;
            height: 80%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            color: $green-dark;
            >h3 {
                font-family: $font-secondary;
                font-size: remCalc(60.337px);
                font-weight: 900;
                letter-spacing: remCalc(-2.25348px);
                line-height: remCalc(61.971px);
            }  
            >p {
                width: 90%;
                font-family: $font-primary;
                font-size: remCalc(18.5387px);
                font-weight: 500;
                line-height: remCalc(27.6px);
                letter-spacing: remCalc(-0.368px);
            }    
        }   
        >.arrow {
            z-index: 100;
            border-top-left-radius: 25px;
            width: fit-content;
            
            position: absolute;
            bottom: .3em;
            right: .3rem;

            display: flex;
            align-items: center; 
            gap: remCalc(10px);

            p {
                font-family: $font-secondary;
                font-size: remCalc(24px); 
                font-weight: 700;
                margin: 0;
                line-height: 1;
                letter-spacing: -0.02em;
                color: currentColor;
            }

            svg {
                width: remCalc(60px);
                height: remCalc(60px);
                
                path {
                    fill: currentColor;
                }
            }
        }
            
    }
}

// in-the-news

