@use './abstracts/functions' as *;
@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;
@use './abstracts/colors' as *;

@use './layout/header' as *;
@use './layout/footer' as *;
@use './layout/navigation' as *;

@use './components/buttons' as *;
@use './components/cards' as *;

@use './base/reset';

.wrapper {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    background-color: transparent;
}

nav {
    width: remCalc(280.44px);
    height: remCalc(136.7px);
    padding: remCalc(22.2725px) remCalc(18.8277px);
    background-color: $pink-dark;
    border-bottom-right-radius: remCalc(57.3677px);
    font-family: $font-primary;
    color: $blue-light;
    font-size: 3.3rem;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 1000;
    @include center;
}

.hero {
    @include center;
    gap: remCalc(7px);
    padding: remCalc(10px);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero__heading {
    font-family: $font-secondary;
    font-weight: 800;
    letter-spacing: -0.05rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 3rem 3rem;
    width: remCalc(472.48px);

    >span {
        display: block;
        text-transform: uppercase;
        line-height: 1;
        z-index: 10000;
        color: white;
    }

    &--1 {
        font-size: clamp(3rem, 6vw, 4.2rem);
    }

    &--2 {
        font-size: clamp(4rem, 8vw, 6.6rem);
    }

    &--3 {
        font-size: clamp(3.8rem, 7vw, 6.2rem);
    }
}


.hero-video__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-bottom-left-radius: remCalc(67.1854px);
    border-bottom-right-radius: remCalc(67.1854px);
    overflow: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero--left {
    flex: 1;
    height: 100%;
    @include center;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $pink-dark;
    height: remCalc(57.36px);
    width: remCalc(57.36px);
    border-bottom-left-radius: remCalc(23.1002px);
    @include center;
}

.hero--right {
    @include center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: remCalc(5px);
}

.card {
    margin: .1rem;
    height: remCalc(188.77px);
    width: remCalc(188.77px);
    border-bottom-left-radius: remCalc(60px);
    border-top-left-radius: remCalc(60px);
    border-bottom-right-radius: remCalc(60px);
    position: relative;

    >.arrow>svg {
        width: remCalc(40px);
        height: remCalc(40px);
        position: absolute;
        top: remCalc(18px);
        right: remCalc(18px);
    }
}

.card--blue {
    background-color: $blue-light;

    >.card-text {
        color: $blue-dark;
    }

    >.arrow>svg {
        color: $blue-dark;
    }
}

.card--pink {
    background-color: $pink-light;

    >.card-text {
        color: $pink-dark;
    }

    >.arrow>svg {
        color: $pink-dark;
    }
}

.card--green {
    background-color: $green-light;

    >.card-text {
        color: $green-dark;
    }

    >.arrow>svg {
        color: $green-dark;
    }
}

.card-text {
    height: 100%;
    width: 80%;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: remCalc(32px);
    letter-spacing: remCalc(-0.368px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

.text-section {
    min-height: 100vh;
    width: 100%;
    padding: remCalc(93.416px) remCalc(32px);

    &>&__inner {
        background-color: $pink-light;
        height: 100%;
        width: 100%;
        padding: remCalc(81.834px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: remCalc(45px);
        border-bottom-left-radius: remCalc(81.8362px);
        border-bottom-right-radius: remCalc(81.8362px);
        border-top-right-radius: remCalc(81.8362px);


        &>h2 {
            color: $pink-dark;
            font-family: $font-secondary;
            font-weight: 800;
            font-size: remCalc(18.4px);
            text-transform: uppercase;
        }

        &>p {
            color: $font-black;
            font-family: $font-primary;
            font-weight: 500;
            font-size: remCalc(44.8px);
            line-height: 1.1;
            letter-spacing: remCalc(-1.2px);
        }
    }
}

.highlighter {
    background-color: $pink-dark;
    color: $blue-light;
    padding: 0 4px;
    font-weight: 550;
    display: inline-block;
}

.highlighter--up {
    transform: rotate(-1.2deg);

}

.highlighter--down {
    transform: rotate(1.2deg);
}

.card-trio {
    >&__heading {}
}