@use './abstracts/functions' as *;
@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;
@use './abstracts/colors' as *;

@use './base/reset' as *;
@use './base/base' as *;

@use './pages/header' as *;
@use './pages/navigation' as *;
@use './pages/footer' as *;

@use './pages/hero' as *;
@use './pages/text-section' as *;
@use './pages/card-trio' as *;
@use './pages/people' as *;
@use './pages/how-we-work' as *;
@use './pages/pic-section' as *;
@use './pages/our-work' as *;
@use './pages/news' as *;
