@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../components/animation' as *;


.hero {
    @include center;
    gap: remCalc(7px);
    padding: remCalc(10px);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.hero__heading {
    font-family: $font-secondary;
    font-weight: 800;
    letter-spacing: -0rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 3rem 3rem;
    width: remCalc(472px);

    >span {
        display: block;
        text-transform: uppercase;
        line-height: 1;
        z-index: 10000;
        color: white;
    }

    &--1 {
        font-size: clamp(3rem, 6vw, 4.2rem);
    }

    &--2 {
        font-size: clamp(4rem, 8vw, 6.6rem);
    }

    &--3 {
        font-size: clamp(3.8rem, 7vw, 6.2rem);
    }
}

.hero-video__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-bottom-left-radius: remCalc(67px);
    border-bottom-right-radius: remCalc(67px);
    overflow: hidden;

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero--left {
    flex: 1;
    height: 100%;
    @include center;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $pink-dark;
    height: remCalc(57px);
    width: remCalc(57px);
    border-bottom-left-radius: remCalc(23px);
    z-index: 50;
    @include center;
}

.menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    height: 100vh;
    list-style: none;
    background: inherit;
    display: flex;
    flex-direction: column;
    gap: remCalc(20px);
    transform: translateY(-100%);
    transition: transform .5s ease;
    &:target {
    transform: translateY(0);
    }
    &__item{
        font-family: $font-secondary;
        font-weight: 800;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 0 3rem 3rem;
        width: 90%;
        background-color: $pink-dark;
        color: $pink-light;
        font-size: remCalc(40px);
    }
}

.close {
  position: absolute;
  border: none;
  color: white;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  font-size: remCalc(40px);
  background-color: $pink-dark;
  color: $white;
  padding: 10px
}

.hero--right {
    @include center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: remCalc(5px);
}


.card {
    margin: .1rem;
    height: remCalc(188px);
    width: remCalc(188px);
    border-bottom-left-radius: remCalc(60px);
    border-top-left-radius: remCalc(60px);
    border-bottom-right-radius: remCalc(60px);
    position: relative;

    &:hover {
        @include radiusEffect;
        .arrow > svg {
            animation: arrow_anime 0.7s ease-out;
        }
    }

    >.arrow {
        position: absolute;
        top: 0;
        right: 0;
        width:40px;
        height: 40px;
    }

    >.arrow>svg {
        width: remCalc(40px);
        height: remCalc(40px);
        position: absolute;
        top: remCalc(18px);
        right: remCalc(18px);
    }
}

.card--blue {
    background-color: $blue-light;

    >.card-text {
        color: $blue-dark;
    }

    >.arrow>svg {
        color: $blue-dark;
    }

    >.arrow-text {
        color: $blue-dark;
    }
}

.card--pink {
    background-color: $pink-light;

    >.card-text {
        color: $pink-dark;
    }

    >.arrow>svg {
        color: $pink-dark;
    }

    >.arrow-text {
        color: $pink-dark;
    }
}

.card--green {
    background-color: $green-light;

    >.card-text {
        color: $green-dark;
    }

    >.arrow>svg {
        color: $green-dark;
    }

    >.arrow-text {
        color: $green-dark;
    }
}

.card-text {
    height: 100%;
    width: 80%;
    font-family: $font-secondary;
    font-weight: 800;
    font-size: remCalc(32px);
    letter-spacing: remCalc(-0px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
}

