@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.pic-section {
    width: 100%;
    padding: 1rem;
    position: relative;
    background-color: white;
    
    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        position: relative;
    }

    figcaption {
        background-color: $pink-dark;
        color: $pink-light;
        font-family: $font-primary;
        font-size: remCalc(20px);
        font-weight: 600;
        line-height: 1.2;
        padding: 1rem;
        display: inline-block;
        position: absolute;
        bottom: 1.3rem;
        right: 1rem;
        z-index: 100;
        border-top-left-radius: 25px;
    }
}
